.input{
	width: 300px;
	margin: 0 auto;
}

button{
	margin-top:-5em;
        background-color:#22c322;
}
body{
	background-color:#9398cc;
}

p{
	margin-bottom: 2em;
	
}

label {
    display: inline-block;
    width: 150px;
}

#registrieren {
    background-color: #cc0000;
    border: 2px ridge #cc0000;
    color: #bdbdbd;
}

#login{
	background-color: #99ff99;
	border: 2px ridge #99ff99;
}

.tf{
	height: 400px;
	width: 450px;
	background-color:#e6ffe6;
	border: 1px solid #000000;
	overflow: auto;
	margin: 0 auto;
	padding: 1em;
}
.container_mine{
	width:300px;
	display: block;
	padding: 10px;
	border: 1px solid #828282;
	float: right;
	text-align: right; 
	overflow: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #ffffff;
}
.container_theres{
	width:300px;
	display: block;
	padding: 10px;
	border: 1px solid #d3d3d3;
	float: left;
	text-align: left;
	overflow: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #ffffff
}
.name{
	width: 50%;
	display: inline;
	color: #bdbdbd;
	font-size: 12px;
}
.message{
	width: 70%;
	display: inline; 
   white-space: -moz-pre-wrap;    
   white-space: -pre-wrap;   
   white-space: -o-pre-wrap;    
   word-wrap: break-word;
}
textarea{
	max-height: 100px;
	max-width: 200px;
	min-height: 100px;
	min-width: 200px;
	
}
.logout{
    float: right;
    margin-top: -27em;
}
#back{
	background-color: #99ff99;
	border: 2px ridge #99ff99;
}